body {
    background-color: white;
    min-height: 100vh;
}

.locations-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    gap: 2rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

@media (min-width: 640px) {
    .locations-container {
        max-width: 640px
    }
}

@media (min-width: 768px) {
    .locations-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 768px
    }
}

@media (min-width: 1024px) {
    .locations-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        max-width: 1024px
    }
}

@media (min-width: 1280px) {
    .locations-container {
        max-width: 1280px
    }
}